@tailwind base;
@tailwind components;
@tailwind utilities;

.calendar-grid {
    @apply grid grid-cols-7 gap-2 p-3;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}